.home-user{
    #search-store{
        width: 100%;
        border: none;
        background-color: rgba(240, 242, 245, 1);
        border-radius: 1rem;
        padding: 2rem;
        margin-bottom: 2rem;
    }
.titulo-tiendas{
    
        font-weight: 700;
        text-align: left;
        
}
#name{
    font-weight: 900;
text-align: left;
}
.mystore{
margin-top: 1rem;
}
.store-container{
  
    height: 40vh;
    text-align: center;
.boton{
    margin-bottom: 5rem;
}
}
}