.user{
    h4{
        margin-left: 3rem;
    }
    .setting-user{
       
        
        }

        .boton-rojo{
            display: block;
            margin: auto;
            margin-bottom: 5rem;
        }
    }
    #avatar{
        padding: 1rem;
        margin: 2rem;
        img{
            margin: auto;
        }

        p{
            margin: 4rem;
            text-align: center;
            font-weight: 700;
        }
    }
